* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.bg1 {
    width: 100%;
    min-height: 800px;
    background: url('image/hero.jpg') no-repeat center;
    background-size: cover;
}

.bg2 {
    width: 100%;
    min-height: 800px;
    background: #0005;
}

.bg3 {
    width: 100%;
    min-height: 500px;
    background: #222;
}

.social {
    position: fixed;
    top: 50%;
    left: 3px;
    transform: translate(-50%);
    z-index: 99;
}

.social a {
    color: white;
    text-decoration: none;
    background: teal;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    margin: 5px 0;
}

.social a:hover {
    background: crimson;
}

/* ------------style for container */

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

header {
    width: 85%;
    min-height: 50px;
    margin: auto;
    overflow: hidden;
}

header ul {
    width: 100%;
    list-style: none;
    min-height: 50px;
    text-align: center;
}

header ul li {
    display: inline-block;
    line-height: 50px;
}

header ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
}

ul li a:hover, active {
    background: crimson;
}

header .logo {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

header .logo h1 {
    font-family: 'Lobster', cursive;
    color: crimson;
}

label {
    color: white;
    font-size: 2em;
    cursor: pointer;
    display:  none;
}

#chk1 {
    display: none;
}

/* ------------section style here-------- */

section {
    width: 85%;
    margin: auto;
    min-height: 100vh;
    background: #0004;
    border-radius: 5px;
    box-shadow: 0 0 13px 2px #000;
}

#home {
    width: 100%;
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#home .home-text {
    width: 100%;
    text-align: center;
    margin: auto;
    color: white;
}

#home .home-text h3 {
    text-transform: uppercase;
    letter-spacing: 20px;
}

#home .home-text h2 {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#home .home-text p {
    max-width: 550px;
    margin: auto;
} 

#home .home-text a {
    color: white;
    text-decoration: none;
    display: inline-block;
    background: black;
    padding: 10px 25px;
    margin-top: 20px;
}

/* ------ABOUT Stylinh------- */
#about {
    width: 100%;
    background: #111;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#about .about-thumb {
    max-width: 200px;
    width: 100%;
    height: 250px;
    position: relative;
    border: 3px solid white;
    margin-right: 20px;
}

.about-thumb img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    transform: translateX(20px) translateY(-20px);
}

#about .about-infor {
    max-width: 800px;
    min-width: 250px;
    color: white;
    padding-left: 10px;
}

.about-infor h2 {
    text-transform: uppercase;
    font-size: 2em;
}

.about-infor p {
    margin-bottom: 10px;
}

.about-infor a {
    display: inline-block;
    text-decoration: none;
    background: white;
    color: black;
    padding: 10px 25px;
}

/* ---------------Portfolio Area----------- */
#services {
    width: 100%;
    padding: 30px 0;
}

#services .services-text {
    width: 100%;
    text-align: center;
    color: white;
}

.services-text h2 {
    font-size: 2.5em;
    text-transform: uppercase;
}

#services .services-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    margin: 25px 0;
}

.services-box .box-thumb {
    width: 250px;
    height: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: -9px 10px 0 #999;
    margin: 10px;
}

.box-thumb img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: 5s linear;
}

.box-thumb:hover img {
    transform: scale (1.5);
}

.box-thumb .box-text {
    position: absolute;
    top: 0;
    left: 0;
    background: #0008;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
}

.box-text h2 {
    text-transform: uppercase;
}

/* ---------------footer styles-------- */

footer {
    width: 100%;
    color: white;
    background: #222;
    padding-top: 50px;
    position: absolute;
}

.foot-content {
    width: 85%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.foot-content h2 {
    font-size: 2.5em;
    text-transform: uppercase;
}

.foot-content p {
    margin-bottom: 20px;
}

.foot-content form {
    max-width: 500px;
    margin: auto;
}

.foot-content input, .foot-content textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
}

.foot-content textarea {
    height: 100px;
}

.foot-content input [type="submit"] {
    width: 250px;
    background: white;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.scroll-nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    color: white;
    background: teal;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

/* responsiveness media query */
@media (max-width: 650px) {
    header ul{
        position: fixed;
        top: 0;
        left: -100%;
        background: #000;
        z-index: 99;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        transition: 0.5s linear;
    }

    label {
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
    }

    #home .home-text h2 {
        letter-spacing: 1px;
    }
}

@media (max-height: 500px) {
    .bg1 {
        min-height: 500px;
    }

    #home {
        min-height: 350px;
    }
}
#chk1:checked ~ ul { 
    left: 0;
}
